*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Kanit", verdana, sans-serif;
	text-align: center;
	background-color: #eeeeee;
	
}

.generator__base {
	margin-left: auto;
	margin-right: auto;
	width: 45rem;
	height: 4rem;
	margin-bottom: 2rem;
	font-size: 200%;
	text-align: center;
}

.generator__radio {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.generator__radio--btn {
	height: 1.5rem;
	width: 1.5rem;
}

.generator__radio--label {
	font-size: 125%;
	vertical-align: super;
	margin-left: 1rem;
	margin-right: 1rem;
}

.generator__button {
	width: 25%;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin-top: 8rem;
	margin-bottom: 1rem;
	font-size: 400%;
}

h3 {
	margin-bottom: 4rem;
	font-size: 70%;
}

button {
	width: 15rem;
	height: 4rem;
	font-size: 200%;
	background-color: #7bb237;
	color: white;
	border-radius: 2%;
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

